---
layout: default
title: Seminar
---

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<div class="seminar">

  <h1>Seminar</h1>

  <p>
    The seminar is joint between <a href="https://www.lix.polytechnique.fr/team/1/view">AlCo</a>, <a href="http://www.lix.polytechnique.fr/cosynus/">Cosynus</a> and <a href="https://team.inria.fr/partout/">Partout</a> teams of LIX. To keep informed you can
    <ul>
      <li><a href="https://sympa.lix.polytechnique.fr/lists/subscribe/proofs-algorithms-seminar">subscribe to the mailing-list</a></li>
      <li><a href="{{ site.baseurl }}/seminar/calendar.ics">subscribe to the calendar</a></li>
      <li><a href="mail.txt">read the mail announce for next seminar</a> (or specifically the one of <a href="mail-alco.txt">AlCo</a>, <a href="mail-cosynus.txt">Cosynus</a> or <a href="mail-partout.txt">Partout</a>)</li>
      <li><a href="mailnext.txt">read the mail announce for the one following next seminar</a> (or specifically the one of <a href="mailnextalco.txt">AlCo</a>)</li>
      <li><a href="tweet.txt">read a tweet like announce for next seminar</a> (or specifically the one of <a href="tweet-alco.txt">AlCo</a>, <a href="tweet-cosynus.txt">Cosynus</a> or <a href="tweet-partout.txt">Partout</a>)</li>
    </ul>
    Unless otherwise stated, all times below are in Paris local time.
  </p>

  {% for talk in site.data.seminar %}
  {% if talk.picture != nil %}<a href="{{ talk.website }}"><img src="{{ talk.picture }}" class="photo" alt="{{ talk.speaker }}"/></a>{% endif %}
  <h2 id="{{ talk.speaker | append: ' - ' | append: talk.title | slugify }}">{{ talk.title }}</h2>
  <b><a class="speaker" href="{{ talk.website }}">{{ talk.speaker }}</a></b> ({{ talk.lab }})<br/>
  {{ talk.date  | date: "%A %-d %B %Y at %H:%M" }},
  {% if talk.room contains "https://" %}
    <a href="{{ talk.room }}">online seminar</a>
  {% else %}
    room {% if talk.room == nil %}TBA{% else %}{{ talk.room }}{% endif %}
  {% endif %}  
  {% if talk.video != nil %}(<a href="{{ talk.video }}">recording available</a>){% endif %}
  {% if talk.slides != nil %}(<a href="{{ talk.slides }}">slides available</a>){% endif %}
  <br/>
  {% if talk.team %}Invited by the <a href="{{talk.team | replace: "Cosynus", "http://www.lix.polytechnique.fr/cosynus/" | replace: "Partout", "https://team.inria.fr/partout/" | replace: "AlCo", "https://www.lix.polytechnique.fr/alco/"}}">{{talk.team}}</a> team.<br/>{% endif %}  
  <div style="clear: both;"></div>
  <div class="abstract">{% if talk.abstract != nil %}{{ talk.abstract | markdownify }}{% endif %}</div>
  <div class="bio">{% if talk.bio != nil %}{{ talk.bio | markdownify }}{% endif %}</div>
  {% endfor %}
</div>
