---
layout: default
title: Seminar
---

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<div class="seminar">

  <h1>The Partout seminar</h1>

  <p>
    This is the seminar of
    the <a href="https://team.inria.fr/partout/">Partout</a> team of LIX. It is
    part of the <a href=".."><em>proofs and algorithms pole seminar</em></a>.
  </p>

  {% for talk in site.data.seminar %}
  {% if talk.team == "Partout" %}
  {% if talk.picture != nil %}<a href="{{ talk.website }}"><img src="{{ talk.picture }}" class="photo" alt="{{ talk.speaker }}"/></a>{% endif %}
  <h2>{{ talk.title }}</h2>
  <b><a class="speaker" href="{{ talk.website }}">{{ talk.speaker }}</a></b> ({{ talk.lab }})<br/>
  {{ talk.date  | date: "%A %-d %B %Y at %H:%M" }},
  {% if talk.room contains "https://" %}
    <a href="{{ talk.room }}">online seminar</a>
  {% else %}
    room {% if talk.room == nil %}TBA{% else %}{{ talk.room }}{% endif %}
  {% endif %}  
  {% if talk.video != nil %}(<a href="{{ talk.video }}">recording available</a>){% endif %}
  <br/>
  <div style="clear: both;"></div>
  <div class="abstract">{% if talk.abstract != nil %}{{ talk.abstract | markdownify }}{% endif %}</div>
  {% endif %}
  {% endfor %}
</div>
